<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Julius+Sans+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <div class="chat-column">
        <div id="chat-container" class="chat-container">
            {% for message in messages %}
                <div class="message {{ 'user-message' if message.sender == 'user' else 'bot-message' }}">
                    <p>{{ message.text|replace('\n', '<br>')|safe }}</p>
                </div>
            {% endfor %}
        </div>
        <form id="message-form" class="message-form">
            <input type="text" id="message-input" placeholder="Type a message...">
            <button type="submit">Send</button>
        </form>
    </div>

    <div class="info-column">
        <div id="info-box-1" class="info-box">{{ box1|replace('\n', '<br>')|safe }}</div>
        <div id="info-box-2" class="info-box">{{ box2|replace('\n', '<br>')|safe }}</div>
        <div id="info-box-3" class="info-box">
            <div id="image-header-1" class="image-header">
                <button id="prev-image" class="image-swap-button">&lt;</button>
                <span id="image-title" class="image-title">{{filename.removesuffix(".png")}}</span>
                <button id="next-image" class="image-swap-button">&gt;</button>
{#                <button id="new-image" class="image-swap-button">+</button>#}
            </div>

            <img id="display-image" src="{{ url_for('static', filename='images/' + filename) }}" alt="Dynamic Image">
        </div>
    </div>
</div>


<script>
    let images = []; // Array to store image URLs
    let currentImageIndex = 0;

    // Push the default (random image) to the array using Flask/Jinja2's url_for(). Trim the file extension from the name.
    images.push({url:'{{ url_for('static', filename='images/' + filename) }}', filename: '{{filename}}'.replace(/\.[^/.]+$/, "")});
    {#images.push({url:'{{ url_for('static', filename='images/' + "Exit.png") }}', filename: 'Exit'});#}

    // Function to cycle images in info-box 3. Images are cycled via use of the array and index above.
    function changeImage(delta) {
        if (!((currentImageIndex + delta < 0) || (currentImageIndex + delta > images.length-1))) {
            currentImageIndex += delta;
            const currentImage = images[currentImageIndex];
            document.getElementById('image-title').textContent = currentImage.filename;
            document.getElementById('display-image').src = currentImage.url;
        }
        console.log("Image Index: " + (currentImageIndex))

    }

    // Add onclick listeners for the image buttons. Generate Image is a test button that works without GPT/SD running
    document.getElementById('prev-image').addEventListener('click', () => changeImage(-1));
    document.getElementById('next-image').addEventListener('click', () => changeImage(1));
    // document.getElementById('new-image').addEventListener('click', () => generateImage());

    // Test handler for image generation when services are dead
    function generateImage() {
        fetch('/generate_image', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
        })
        .then(response => response.json())
        .then(data => {
            images.push({ url: data.image_path, filename: data.image_name });
            changeImage(1)
        });
    }

    // Function to append message to the dialogue column
    function addMessage(className, text) {
        const div = document.createElement('div');
        div.className = `message ${className}`;
        div.innerHTML = text.replace(/\n/g, '<br>'); // Convert newlines to <br>
        document.getElementById('chat-container').appendChild(div);
    }

    // Handler for submitting new message. This will POST to app, which will run the GPT call.
    // Response is received and used to update the info-box columns, including image.
    document.getElementById('message-form').addEventListener('submit', function (e) {
        e.preventDefault();
        const messageText = document.getElementById('message-input').value;
        // Prevent accidental submission / Empty text
        if (messageText === "") {
            return
        }

        // Add user message (higher up for reactivity)
        addMessage('user-message', messageText);
        // Clear the input box
        document.getElementById('message-input').value = '';
        fetch('/send_message', {
            method: 'POST',
            body: new URLSearchParams({'message': messageText}),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
        })
            .then(response => response.json())
            .then(data => {
                // Add bot responses (Chat Column)
                data.bot_responses.forEach((response) => {
                    addMessage('bot-message', response);
                });
                // Update the info-boxes. This also replaces newline characters with proper break tags.
                // The reason this is done client-side because console output server-side should also be readable.

                // Info Box 1 : Map
                document.getElementById('info-box-1').innerHTML = data.character_info.replace(/\n/g, '<br>');
                // Info Box 2 : Character
                document.getElementById('info-box-2').innerHTML = data.map_info.replace(/\n/g, '<br>');
                // Info Box 2 : Image
                if (data.image_path) {
                    images.push({ url: data.image_path, filename: data.image_name });
                    changeImage(1)
                }

                // Scroll to the bottom of the chat
                document.getElementById('chat-container').scrollTop = document.getElementById('chat-container').scrollHeight;
            });
    });


</script>

</body>
</html>